<h2>List of Poems</h2>

<% if @list.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@list.errors.count, "error") %>
      prohibited this list from being saved:
    </h2>

    <ul>
    <% @list.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@list) do |f| %>
  
  <p><%= f.collection_select :owner_name, List.all, :id, :owner_name, prompt: true %></p>
  <p><%= f.collection_select :poem, Poem.all, :id, :author_name, prompt: true %></p>
  <p><%= f.collection_select :poem, Poem.all, :id, :title, prompt: true %></p>
  <p><%= f.collection_select :poem, Poem.all, :id, :lines, prompt: true %></p>
  
  <%= f.submit %>
  
<% end %>




    



