<h2>Create list of favorite lines from Poems</h2>

<% if @list.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@list.errors.count, "error") %>
      prohibited this list from being saved:
    </h2>

    <ul>
    <% @list.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@list) do |f| %>

  <p>
  <%= f.label :owner_name %>
  <%= f.text_field :owner_name %>
  </p>


  <p>
  <%= f.label :lines %>:<br>
  <%= f.collection_check_boxes(:poems, Poem.all, :id, :lines, prompt: true) do |b| %>
  <p><%= b.label(:"data-value" => b.value) { b.check_box + b.text } %></p>
  <% end %>
  </p>

  <%= f.submit %>
  
<% end %>
