<h2><%= " #{@list.owner_name} Poem List" %></h2>

<p>
  
  <% @list.poems.each do |p| %>
  <h3>Author:</h3>
  <%= p.author_name %>
  <h3>Title:</h3>
  <%= p.title_name %>
  <h3>Lines:</h3>
  <%= p.lines %>   
  <% end %>
</p>

<%= link_to 'Back', lists_path %>


  