<h2>Poems</h2>

<%= form_for @poem do |f| %>
  

  <p>
    <%= f.label :author_name %>
    <%= f.collection_select :author_name, Poem.all, :author_name, :author_name, prompt: true %>
  </p>

  <p>
    <%= f.label :title %>
    <%= f.collection_select :title, Poem.all, :title, :title, prompt: true %>
  </p>
    
  <%= f.submit %>
    
  <% end %>

</form>
    

